/* .image {
    margin-top: 10px;
} */

.Donasi_details {
    margin-top: 50px;
}

.Donasi_details h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.don_btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(30, 30, 238);
    color: aliceblue;
    padding: 8px 20px;
}

.tab_wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.active_tab {
    font-weight: 600;
}

.tab_content p {
    line-height: 30px;
}

.Donasi_lain {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}

.review_form {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.review_form h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.form_group input,
.form_group textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}

.form_group input:focus,
.form_group textarea:focus {
    outline: none;
}

.form_group {
    margin-top: 30px;
}

.logo_bank img {
    width: 4%;
}