/*google fonts*/

@import url("http://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
:root {
    --card-bg-01: #fdefe6;
    --card-bg-02: #d6e5fb;
    --card-bg-03: #ceebe9;
    --card-bg-04: #e2f2b2;
    --primary-color: #0a1d37;
    --hero-bg: #c3ccd5;
    --heading-fontSize: 2rem;
    --small-text-color: #999;
    --heading-text-color: #0a1d37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

ul {
    list-style: none;
}

p {
    color: var(--small-text-color);
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

img {
    width: 100%;
}

section {
    padding: 70px 0px;
}

a {
    text-decoration: none;
    color: unset;
}